@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
}

.hoverItem {
  position: relative;
}

.hoverItem:after {
  content: "";
  position: absolute;
  height: 3px;
  left: 50%;
  bottom: -5px;
  width: 0;
  background: white;
  transition: all 0.1s;
}

.hoverItem:hover {
  color: theme("colors.secondary.300");
}

.hoverItem:hover:after {
  left: 0;
  width: 100%;
  background: theme("colors.secondary.300");
}

@media only screen and (min-width: 1007px) {
  .bannerText {
    top: 30%;
    left: 6em;
    width: 40em;
  }

  .bannerText a {
    align-self: flex-start;
  }
}
