@tailwind base;
@tailwind components;
@tailwind utilities;

/*
https://coolors.co/bcabae-0f0f0f-2d2e2e-716969-fbfbfb
*/

:root {
  --black: #252422;
  --white: #ccc5b9;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
}

.hoverItem:after {
  content: "";
  position: absolute;
  height: 3px;
  left: 50%;
  bottom: -5px;
  width: 0;
  background: white;
  transition: all 0.1s;
}

.hoverItem:hover:after {
  left: 0;
  width: 100%;
}

footer {
  background-color: var(--black);
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .bannerText {
    text-align: left;
    top: 30%;
    left: 6em;
    width: 40em;
  }

  .bannerText a {
    align-self: flex-start;
  }
}
